#navbar {
    flex-direction: column;
    padding-top: 0.5rem;
    overflow: hidden;
}

#training .items{
    flex-direction: column;
}
#training .items .item {
    width: 80%;
}
.courses{
    display: flex;
    flex-direction: column;
}
